body {
  background-color: darkslateblue;
  color: gainsboro;
  font-family: georgia;
  font-size: 18
}

h1 {
  color: lightsteelblue;
  text-align: center;
}

footer {
  position: fixed;
  bottom:0px;
  background-color: darkslateblue;
  color: gainsboro;
  font-family: georgia;
  font-size: 10;
}
